{
  "parser": "typescript",
  "printWidth": 100,
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.json", ".*rc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
